#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: gray;
  margin-top: 60px;
/* }
canvas {
  position: fixed;
  top: 0;
  left: 0; 
}
*/
}
body {
  background: black;
}

h1 {
  color : white;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}